.btn {
  position: absolute;
  z-index: 1;

  width: 30px;
  height: 30px;
  padding: 0;

  font-size: 30px;
  color: #fff;

  background-color: transparent;
  border: none;
  outline: none;

  &:active {
    color: grey;
  }
}


.btn-return {
  outline: none;
  padding: 5px 10px;

  font-size: 13px;
  color: #ffffff;
  text-transform: uppercase;

  background-color: rgb(79, 47, 105);
  border: 1px solid rgb(79, 47, 105);
  border-radius: 3px;
}
