.page-body {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

@media (min-width: 768px) {
  .page-body {

    padding: 0 30px;
  }
}


@media (min-width: 1200px) {
  .page-body {
    align-items: center;
    padding: 0 30px;
  }
}
